@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #0d263b;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
}

.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0d263b;
  line-height: 24px;
  padding-bottom: 4px;
}

.info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
  padding: 7px 0px 16px;
}

.inline {
  /* display: flex; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* white-space: nowrap; */
}

input {
  text-overflow: ellipsis;
  white-space: nowrap;
}

label {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* white-space: pre-wrap; */
  /* style={{ display: "flex", flex: "1", marginRight: "10px" }} */
}

::placeholder {
  color: #fff;
  font-weight: 300;
}

::-webkit-scrollbar {
  background: #0d263b;
  width: 16px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #b8ff06;
  border-radius: 50px;
  border: 5px solid #0d263b;
}
ul {
  list-style: none;
}
li {
  display: flex;
  align-items: center;
}
